extends ../layout

block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Dashboard
          | Hello User 
          span=id_user
      //
         /.col-lg-12 
    //
       /.row 
  //
     /#page-wrapper 