//
   Created by olivererxleben on 28.03.14.
extends ../layout

block content
    #page-wrapper
        .row
            .hidden#user(data='' + id_user)
            h1.page-header New Session
        .row
            .col-lg-6
                form#session-new(role="form")
                    .form-group
                        label(for="input-name") Name:
                        input.form-control#input-name(type="text", name="input-name")
                    .form-group
                        label(for="input-description") Beschreibung:
                        textarea.form-control#input-description(name="input-description")
                    .form-group
                        label(for="input-todo-name") TODO-Name
                        input.form-control#input-todo-name(type="text", name="input-todo-name")

                        .form-group.col-lg-4
                            label(for="input-task") Task:
                            input.form-control#input-task(type="text", name="input-task")
                            input.form-control#input-task(type="text", name="input-task-2")
                            input.form-control#input-task(type="text", name="input-task-3")
                            input.form-control#input-task(type="text", name="input-task-4")
                            input.form-control#input-task(type="text", name="input-task-5")
                            input.form-control#input-task(type="text", name="input-task-6")
                            input.form-control#input-task(type="text", name="input-task-7")
                            input.form-control#input-task(type="text", name="input-task-8")
                            input.form-control#input-task(type="text", name="input-task-9")
                            input.form-control#input-task(type="text", name="input-task-10")
                    br(style="clear:both")
                    .form-group
                        label(for="input-todo2-name") TODO-Name
                        input.form-control#input-todo-name(type="text", name="input-todo-name-2")
                        .form-group.col-lg-4
                            label(for="input-task") Task:
                            input.form-control#input-task(type="text", name="input-task2")
                            input.form-control#input-task(type="text", name="input-task2-2")
                            input.form-control#input-task(type="text", name="input-task2-3")
                            input.form-control#input-task(type="text", name="input-task2-4")
                            input.form-control#input-task(type="text", name="input-task2-5")
                            input.form-control#input-task(type="text", name="input-task2-6")
                            input.form-control#input-task(type="text", name="input-task2-7")
                            input.form-control#input-task(type="text", name="input-task2-8")
                            input.form-control#input-task(type="text", name="input-task2-9")
                            input.form-control#input-task(type="text", name="input-task2-10")
                    br(style="clear:both")
                    .form-group
                        label(for="input-todo3-name") TODO-Name
                        input.form-control#input-todo-name(type="text", name="input-todo-name")
                        .form-group.col-lg-4
                            label(for="input-task") Task:
                            input.form-control#input-task(type="text", name="input-task3")
                            input.form-control#input-task(type="text", name="input-task3-2")
                            input.form-control#input-task(type="text", name="input-task3-3")
                            input.form-control#input-task(type="text", name="input-task3-4")
                            input.form-control#input-task(type="text", name="input-task3-5")
                            input.form-control#input-task(type="text", name="input-task3-6")
                            input.form-control#input-task(type="text", name="input-task3-7")
                            input.form-control#input-task(type="text", name="input-task3-8")
                            input.form-control#input-task(type="text", name="input-task3-9")
                            input.form-control#input-task(type="text", name="input-task3-10")
                    br(style="clear:both")
                    .form-group
                        button.btn.btn-primary(type="submit") neue Session erstellen
