extends ../layout
block content
    #page-wrapper
        .row
            .hidden#user(data='' + id_user)
            h1.page-header= 'Ergebnis für Session ' + id_session
        .row
            .result-video-container
                video#result_video.video-js.vjs-default-skin(controls, preload="none", width="640", height="640")
                    source(src='/'+id_user+'/'+id_session+'/videos/12', type="video/mp4")

    script(src='/js/plugins/video.js')
    script.
        videojs.options.flash.swf = "/js/plugins/video-js.swf"