extends ../layout

block content
    #page-wrapper
        .row
            .hidden#user(data='' + id_user)

            h1.page-header= 'Session ' + session.idsessions + ' : ' + session.name

        .row
            h2 Tasks + Todos
            table.table.table-striped.table-hover(id='' +session.idsessions)
                thead
                    tr

                        th #
                        th Name
                        th erledigt
                        th

                tbody
                    for todo, i in todos
                        tr
                            td= todo.idtodos
                            td= todo.name
                            td= todo.active

                            if i == todos.length-1
                                td
                                    a(href='/sessions/')
                            else
                                td
        .row
            h2 Ergebnis
            div
                a.btn.btn-primary(href='/'+id_user+'/admin/sessions/'+session.idsessions+'/result') zum Ergebnis

    script(src='/js/session-ui.js')