extends layout
 
block content
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 hipsterbility
            h3 test the hipster way
            hr.intro-divider
            ul.list-inline.intro-social-buttons
              li
                a.btn.btn-default.btn-lg(href='https://github.com/olivererxleben/hipsterbility')
                  i.fa.fa-github.fa-fw
                  span.network-name Github
    //
       /.container 
  //
     /.intro-header 
  .content-section-a
    .container
      .row
        .col-lg-5.col-sm-6
          hr.section-heading-spacer
          .clearfix
          h2.section-heading
            | some info
            br
            | here
          p.lead
            | lorem lorem ipsum.
        .col-lg-5.col-lg-offset-2.col-sm-6
          img.img-responsive(src='img/ipad.png', alt='')
    //
       /.container 
  //
     /.content-section-a 
  footer
    .container.content-section-a
      .row
        .col-lg-12
          ul.list-inline
            li
              a(href='/') Home
            li.footer-menu-divider ⋅
            li
              a(href='/about') About
            li.footer-menu-divider ⋅
            li
              a(href='/login') Login
          p.copyright.text-muted.small Copyright © Oliver Erxleben, Albert Hoffmann 2014.
  